
{% extends 'CEAS/base.html' %}

{% block content %}
<div>
  <h1>University of Colorado</h1>
  <div class="subtitle">Discovery Learning Apprenticeship Program</div>
</div>
<div class="index_background">
    <div class="index_button">
      <table align="center">
        <tr>
          <th><a href="/CEAS/login/"><img alt="Login" src="/static/CEAS_website/login.jpeg"></th>
          <th><a href="/CEAS/projectlist/"><img alt="Project List" src="/static/CEAS_website/project_list.png"></th>
          <th><a href="/CEAS/about/"><img alt="About" src="/static/CEAS_website/about.png"></th>

        </tr>
        <tr>
          <td align="center">Login</th>
          <td align="center">Project List</th>
          <td align="center">About</th>
        </tr>
      </table>
      <!--<a href="/CEAS/login/"> -->
    </div>
</div>
<div class="index_description">
  <p>
    University of Colorado
    CSCI 5828 - Fall 2016
    ACMES Team Project
  </p>
</div>
{% endblock %}
